<div class="container">
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand text-uppercase" href="/">Sistema Web</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Cadastrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/consultar">Consultar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br />
  <div class="row">
    <div class="col">
      <div class="container-fluid">
        <h5 class="mb-4">Consultar - Agendamento de Potenciais Clientes</h5>
        <h6 class="mb-4">Sistema utilizado para agendamento de serviços</h6>
        <div class="container">
          <div class="row bg-primary text-center text-light">
            <div class="col">Nome</div>
            <div class="col">Telefone</div>
            <div class="col">Origem</div>
            <div class="col">Data de Contato</div>
            <div class="col">Observações</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>